<h1> <% @player.name %> </h1>

<div id="picturePlayer">

</div>


<ul>
  <li> Weigth : <% @player.weight %> lb</li>
  <li> Weigth : <% @player.age %> yers old</li>
  <li> Weigth : <% @player.size %> feet</li>
  <li> Weigth : <% @player.position %></li>
  <li> Weigth : <% @player.country %></li>
</ul>
